body {
    margin: 30px;
    font-size: 24px;
  }
  
  .wrapper {
    background: pink;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }
  
  .wrapper div {
    background-color: grey;
    padding: 1em;
    margin: 1em;
  }
  
  .wrapper-e2 {
    background-color: aquamarine;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 1em;
    grid-auto-rows: minmax(100px, auto);
  }
  .wrapper-e2 div {
    background-color: grey;
  }
  
  .box1 {
    align-self: flex-start;
  }
  .box2 {
    align-self: flex-end;
  }
  .box3 {
    justify-self: end;
  }
  .box4 {
    align-self: center;
  }
  Footer
  © 2022 GitHub, Inc.